<!-- src/app/components/navbar/navbar.component.html -->
<nav class="navbar">
    <div class="navbar-container">
        <a class="navbar-brand" routerLink="/">
            <img src="assets/Logo-stop2.gif" alt="Hospital Logo" class="navbar-logo" />
            Hospital Dashboard
        </a>
        <ul class="navbar-menu">
            <li class="navbar-item">
                <a routerLink="/bed-status" class="navbar-link">Bed Status</a>
            </li>
            <!-- Add more navigation items here if needed -->
        </ul>
    </div>
</nav>
